<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h2>清單</h2>
    <div class="grid-container">
      <div class="grid-item">
        <h2>list-style-type</h2>
        <p>(預設)disc</p>
        <ul>
          <li>item1</li>
          <li>item2</li>
          <li>item3</li>
        </ul>
        <p>circle</p>
        <ul style="list-style-type: circle">
          <li>item1</li>
          <li>item2</li>
          <li>item3</li>
        </ul>
        <p>decimal</p>
        <ul style="list-style-type: decimal">
          <li>item1</li>
          <li>item2</li>
          <li>item3</li>
        </ul>
      </div>
      <div class="grid-item">
        <h2>list-style-image</h2>
        <p>在清單前顯示圖片</p>
        <div class="example">
          <p>url("路徑/檔名")</p>
          <ul style="list-style-image: url(/Resources//Images//Arrow.png)">
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
          </ul>
        </div>
      </div>
    </div>

    <h2>邊框</h2>
    <div class="grid-container">
      <div class="grid-item">
        <p>border:(border-width)|(border-style)|(border-color)</p>
        <div style="border: 3px double red">3px double red;</div>
        <br />
        <div style="border: 2px solid blue">2px solid blue</div>
      </div>
    </div>
  </body>
</html>
