<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>文字樣式選擇器</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <a href="/index.html">首頁</a>
      <a href="#" class="current">文字樣式</a>
    </header>
    <main>
      <p>用Grid排版，樣式表</p>
      <div class="grid-container">
        <div class="grid-item">
          <h2>text-decoration</h2>
          <p class="td-none">none</p>
          <p class="td-ul">under line</p>
          <p class="td-ol">over line</p>
          <p class="td-lt">line through</p>
        </div>
        <div class="grid-item">
          <h2>text-transform</h2>
          <p class="tt-none">none</p>
          <p class="tt-capital">capitalize</p>
          <p class="tt-upper">uppercase</p>
          <p class="tt-lower">LOWERCASE</p>
        </div>
        <div class="grid-item">
          <h2>text-align</h2>
          <p class="ta-center">center</p>
          <p class="ta-left">left</p>
          <p class="ta-right">right</p>
          <p class="ta-justify">justify</p>
        </div>
      </div>
    </main>
  </body>
</html>
