<!DOCTYPE html>
<html lang="zh-hant-tw">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>蔣萬安表態了！ 台灣「這原因」沒有廢死條件</title>
    <link
      rel="shortcut icon"
      href="../Resources/Images/kmt.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../Styles/homework1.css" />
  </head>
  <body>
    <div class="header">
      <img
        class="icon"
        src="../Resources/Images/kmt.png"
        alt="icon"
        width="40px"
      />
      <p class="logo">Taipei News</p>
    </div>

    <div class="main">
      <details class="details">
        <summary>Table of Contents</summary>
        <ul>
          <li>
            <a href="#content1">蔣萬安表態了！ 台灣「這原因」沒有廢死條件</a>
          </li>
          <li>
            <a href="#content2"
              >反年改、沒收委員會、修「反滲透法」！ 學者：藍白聯手毫無下限</a
            >
          </li>
        </ul>
      </details>
      <div class="container" id="content1">
        <h1>蔣萬安表態了！ 台灣「這原因」沒有廢死條件</h1>
        <div class="divider"></div>
        <figure>
          <img src="../Resources/Images/wanan.jpg" alt="wan-an" />
          <figcaption>
            律師出身的台北市長蔣萬安說，台灣目前並沒有廢除死刑的條件。（圖：蔣萬安臉書）
          </figcaption>
          <p class="provider">© 由 中國廣播公司 提供</p>
        </figure>
        <div class="text">
          <p>
            死刑存廢議題再度引發討論，律師出身的台北市長蔣萬安今（23）日表態，「我認為台灣目前並沒有廢除死刑的條件」，強調超過7成台灣民眾反對廢除死刑，不應該倉促行事。
          </p>
          <br />
          <p>
            37名死刑定讞的死囚認為，我國目前仍有「死刑」違憲，向司法院憲法法庭聲請釋憲。死囚們認為，死刑完全剝奪生命權、生命尊嚴，又違反憲法比例原則，有違憲之虞。法務部則認為，死刑合乎《兩公約》精神，並未違憲。
          </p>
          <br />
          <p>
            憲法法庭今天開庭進行言詞辯論，15名大法官中，蔡炯燉曾審理死囚王鴻偉、蔡彩貞曾審王柏英案、尤伯祥曾任邱和順辯護人因此迴避，上午只有12名大法官上場，預計進行一整天的交互詰問及辯論。
          </p>
          <br />
          <p>
            依規定，憲法法庭言詞辯論完畢後3個月內宣判，必要時得延長2個月，最快7月前做出判決，最慢也有機會在憲法法庭審判長、司法院長許宗力10月卸任前做出決定。
          </p>
        </div>

        <p class="summary">
          蔣萬安上午到北市迪化抽水站進行113年水災防汛搶險演習，會前接受媒體聯訪，針對憲法法庭就死刑是否違憲進行言詞辯論，蔣萬安表示，憲法法庭要討論廢除死刑議題，有任何實質討論或思辨都是好事，但不應該倉促行事，「就我個人來講，我認為台灣目前並沒有廢除死刑的條件。」
        </p>
        <div style="text-align: end">
          <span>(原文連結：</span>
          <a
            href="https://www.msn.com/zh-tw/news/other/%E8%94%A3%E8%90%AC%E5%AE%89%E8%A1%A8%E6%85%8B%E4%BA%86-%E5%8F%B0%E7%81%A3-%E9%80%99%E5%8E%9F%E5%9B%A0-%E6%B2%92%E6%9C%89%E5%BB%A2%E6%AD%BB%E6%A2%9D%E4%BB%B6/ar-AA1nujwY?ocid=socialshare&pc=u531&cvid=ed871fb3ccd04d2a84faebd6a3fec593&ei=9"
            >蔣萬安表態了！ 台灣「這原因」沒有廢死條件
          </a>
          <span>)</span>
        </div>
      </div>
      <div class="container" id="content2">
        <h1>反年改、沒收委員會、修「反滲透法」！ 學者：藍白聯手毫無下限</h1>
        <div class="divider"></div>
        <figure>
          <img src="../Resources/Images/kuanchi.jpg" alt="kuan-chi" />
          <figcaption>
            立法院院會12日表決年改復議案，立法院民眾黨團總召黃國昌（右）明明參與院會，卻未簽到。左為國民黨團總召傅崐萁。（資料照）
          </figcaption>
          <br />
          <img src="../Resources/Images/liyuan.jpg" alt="li-fa-yuan" />
          <figcaption>
            立法院司法及法制委會22日排審民進黨團所提立法院組織法等國會改革修法版本，在民眾黨團總召黃國昌棄權下，藍營以人數優勢6票比5票通過散會動議。（翻攝國會頻道）
          </figcaption>
        </figure>
        <div class="text">
          <p>
            〔記者陳鈺馥／台北報導〕「馬習二會」後，馬辦拋出國民黨應與民眾黨合作修正「反滲透法」，國民黨主席朱立倫日前表態支持修法放寬。立法院司法法制委員會昨日排審國會改革法案，國民黨團再度祭出散會動議，以多數表決通過。對於藍白聯手的國會生態，學者痛批，反年金改革、進行國會擴權、準備廢掉「反滲透法」，完全是毫無下限在做，這是權力傲慢、多數暴力，違反了民主憲政。
          </p>
          <br />
          <p>
            台灣守護民主平台理事、國際法學者宋承恩受訪指出，「反滲透法」是為了防範境外敵對勢力的滲透干預，規範任何人不得受滲透來源指示、委託或資助，捐贈政治獻金，以及從事違反選罷法等行為。如果競選期間，村里長可以接受中共招待去中國旅遊，這顯然說不過去！若要修法，立委應舉證這些行為何以能被允許，兩岸交流不能無限上綱，交流更不能違反選罷法。
          </p>
          <br />
          <p>
            宋承恩提及，民主政治的完整性是不能受到境外勢力的干預，如果「反滲透法」被廢掉，紅色滲透會更加猖獗。目前境外勢力透過線上、境外平台或「斗內」捐助已經很難抓了，這些都不是現行「反滲透法」能夠遏阻的，如果還要把「反滲透法」修得更鬆，甚至將民主政治的防線去除，請問該如何因應中國滲透干預台灣民主政治的行為？
          </p>
          <br />
          <p>
            宋承恩批評，現在國會有一個現象是認為數人頭最大，顯與民主政治精神背道而馳，民眾黨對於國民黨主張的每一個議題全都不反對，「完全不會去阻擋國民黨想做的事」，甚至是跟國民黨一起合作。藍白認為他們是多數就什麼都可以做，但真的不要以為選民投完票就沒在看，民眾會在下次選舉算總帳的。
          </p>
          <br />
          <p>
            「藍白認為多數最大，其實就是多數暴力！」宋承恩說，藍白掌握多數的立法院要跟行政部門爭權，甚至要制定藐視國會罪課予刑責，已經違反了法治國原則，就是手段和目的顯不相當，這種法律相當嚴苛。
          </p>
          <br />
          <p>
            宋承恩批評，民眾投給藍白兩黨是希望去監督高房價等民主議題，結果現在是在反年金改革、進行國會擴權、準備要廢掉「反滲透法」，擺明完全不顧選民付託，完全無下限在做，把責任政治和政治誠信拋在腦後，用這種毫無下限的方式，搭配權力傲慢、多數暴力，完全違反了民主憲政。
          </p>
          <br />
          <p>
            宋承恩提及，現在的國會非常傲慢，在立法院司法及法制委員會，藍白立委完全不給討論機會，直接多數暴力宣布散會，完全毫無民主精神。如果連國內不同意見都無法包容、討論，這種政黨卻要去跟中國談判，真的是台灣民主危機。
          </p>
        </div>

        <div style="text-align: end">
          <span>(原文連結：</span>
          <a href="https://news.ltn.com.tw/news/Taipei/breakingnews/4650142"
            >反年改、沒收委員會、修「反滲透法」！ 學者：藍白聯手毫無下限
          </a>
          <span>)</span>
        </div>
      </div>
    </div>
  </body>
</html>
