body {
  padding: 0px;
  margin: 0px;
  background-color: aliceblue;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  background-color: mediumaquamarine;
  padding: 10px;
}
.grid-item {
  background-color: aquamarine;
  border-radius: 7px;
  padding: 10px;
  margin: 10px;
}
.example {
  background-color: gainsboro;
  border-radius: 5px;
  padding: 5px;
}
